body{
                font-family: 'Exo 2', sans-serif;
                background: #c1c1c1;
                margin: 0px;
            }
            
            #wrapper{
                width: 1200px;
                margin: 0 auto; 
                background: #ffffff;
                min-height:  600px;
                
            }
            
            ul{
                list-style: none;
            }
            li{
                display: inline-block;
                padding: 25px;
                margin: 5px;
                background: dodgerblue;
                color: white;
                 border-radius: 15px;
                 min-width: 120px;
                 
            }